<a href="https://colab.research.google.com/github/Aishani1234/Bellabeat_Case-Study/blob/main/DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Importing package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [6]:
#Importing dataset
df=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/heartrate_seconds_merged.csv')

FileNotFoundError: ignored

In [ ]:
# to find the total number of rows and columns in the dataset
df.shape

(2483658, 3)

In [ ]:
# to find data types of columns from the given data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

In [ ]:
# to find the unique IDs
df['Id'].nunique()

14

In [ ]:
#to find list of distinct Ids
list(df['Id'].unique())

[2022484408,
 2026352035,
 2347167796,
 4020332650,
 4388161847,
 4558609924,
 5553957443,
 5577150313,
 6117666160,
 6775888955,
 6962181067,
 7007744171,
 8792009665,
 8877689391]

Heartrate data have less Ids, so can't include for analysis.

In [ ]:
#Importing dataset
df=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/weightLogInfo_merged.csv')

In [ ]:
# to find data types of columns from the given data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB

In [ ]:
# to find the unique IDs
df['Id'].nunique()

8

Similar to the Heart rate data set, weightLogInfo is recorded only for 8 Ids. This small sample can not contribute to analysis.

In [7]:
#Importing dataset
df=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/minuteMETsNarrow_merged.csv')

In [8]:
# to find data types of columns from the given data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   METs            1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

In [ ]:
# to find the unique IDs
df['Id'].nunique()

33

In [ ]:
df.head(15)

            Id         ActivityMinute  METs
0   1503960366  4/12/2016 12:00:00 AM    10
1   1503960366  4/12/2016 12:01:00 AM    10
2   1503960366  4/12/2016 12:02:00 AM    10
3   1503960366  4/12/2016 12:03:00 AM    10
4   1503960366  4/12/2016 12:04:00 AM    10
5   1503960366  4/12/2016 12:05:00 AM    12
6   1503960366  4/12/2016 12:06:00 AM    12
7   1503960366  4/12/2016 12:07:00 AM    12
8   1503960366  4/12/2016 12:08:00 AM    12
9   1503960366  4/12/2016 12:09:00 AM    12
10  1503960366  4/12/2016 12:10:00 AM    12
11  1503960366  4/12/2016 12:11:00 AM    12
12  1503960366  4/12/2016 12:12:00 AM    10
13  1503960366  4/12/2016 12:13:00 AM    10
14  1503960366  4/12/2016 12:14:00 AM    12

In [9]:
df['Date']=pd.to_datetime(df['ActivityMinute']).dt.date

In [ ]:
df.head(10)

           Id         ActivityMinute  METs        Date
0  1503960366  4/12/2016 12:00:00 AM    10  2016-04-12
1  1503960366  4/12/2016 12:01:00 AM    10  2016-04-12
2  1503960366  4/12/2016 12:02:00 AM    10  2016-04-12
3  1503960366  4/12/2016 12:03:00 AM    10  2016-04-12
4  1503960366  4/12/2016 12:04:00 AM    10  2016-04-12
5  1503960366  4/12/2016 12:05:00 AM    12  2016-04-12
6  1503960366  4/12/2016 12:06:00 AM    12  2016-04-12
7  1503960366  4/12/2016 12:07:00 AM    12  2016-04-12
8  1503960366  4/12/2016 12:08:00 AM    12  2016-04-12
9  1503960366  4/12/2016 12:09:00 AM    12  2016-04-12

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   METs            1325580 non-null  int64
 3   Date            1325580 non-null  object
dtypes: int64(2), object(2)
memory usage: 40.5+ MB

In [11]:
df.groupby(['Id', 'Date'])['METs'].mean().reset_index(name='Daily Average METs')

             Id        Date  Daily Average METs
0    1503960366  2016-04-12           17.528472
1    1503960366  2016-04-13           15.874306
2    1503960366  2016-04-14           15.686806
3    1503960366  2016-04-15           15.409722
4    1503960366  2016-04-16           16.454167
..          ...         ...                 ...
929  8877689391  2016-05-08           16.159722
930  8877689391  2016-05-09           21.006944
931  8877689391  2016-05-10           16.066667
932  8877689391  2016-05-11           21.754167
933  8877689391  2016-05-12           16.277381

[934 rows x 3 columns]

In [12]:
Daily_Avg_METs=df.groupby(['Id', 'Date'])['METs'].mean().reset_index(name='Daily Average METs')

In [13]:
Daily_Avg_METs['Date']=pd.to_datetime(Daily_Avg_METs['Date'])

In [14]:
Daily_Avg_METs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  934 non-null    int64
 1   Date                934 non-null    datetime64[ns]
 2   Daily Average METs  934 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 22.0 KB

In [ ]:
Daily_Avg_METs.head()

           Id       Date  Daily Average METs
0  1503960366 2016-04-12           17.528472
1  1503960366 2016-04-13           15.874306
2  1503960366 2016-04-14           15.686806
3  1503960366 2016-04-15           15.409722
4  1503960366 2016-04-16           16.454167

In [15]:
Daily_activities=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/dailyActivity_merged.csv')

In [ ]:
Daily_activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

In [16]:
Daily_activities.rename(columns={'ActivityDate':'Date'},inplace=True)

In [17]:
Daily_activities['Date']=pd.to_datetime(Daily_activities['Date'])

In [ ]:
Daily_activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   Date                      940 non-null    datetime64[ns]
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 110.3 KB

In [18]:
New_Daily_df = pd.merge(Daily_activities, Daily_Avg_METs, how='left', on=['Id','Date'])

In [19]:
New_Daily_df

,Id,Date,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Daily Average METs
0,1503960366,2016-04-12,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985,17.528472
1,1503960366,2016-04-13,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797,15.874306
2,1503960366,2016-04-14,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776,15.686806
3,1503960366,2016-04-15,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745,15.409722
4,1503960366,2016-04-16,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863,16.454167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,2016-05-08,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847,16.159722
936,8877689391,2016-05-09,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710,21.006944
937,8877689391,2016-05-10,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832,16.066667
938,8877689391,2016-05-11,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832,21.754167
939,8877689391,2016-05-12,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849,16.277381

In [4]:
daily_sleep=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/sleepDay_merged.csv')

In [20]:
daily_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    object
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: int64(4), object(1)
memory usage: 16.3+ KB

In [21]:
daily_sleep.rename(columns={'SleepDay':'Date'},inplace=True)

In [22]:
daily_sleep['Date']=pd.to_datetime(daily_sleep['Date'])

In [24]:
daily_sleep.head()

,Id,Date,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,2016-04-12,1,327,346
1,1503960366,2016-04-13,2,384,407
2,1503960366,2016-04-15,1,412,442
3,1503960366,2016-04-16,2,340,367
4,1503960366,2016-04-17,1,700,712

In [27]:
final_Daily_df = pd.merge(daily_sleep, New_Daily_df, how='left', on=['Id','Date'])

In [28]:
final_Daily_df.head(10)

,Id,Date,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Daily Average METs
0,1503960366,2016-04-12,1,327,346,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985,17.528472
1,1503960366,2016-04-13,2,384,407,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797,15.874306
2,1503960366,2016-04-15,1,412,442,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745,15.409722
3,1503960366,2016-04-16,2,340,367,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863,16.454167
4,1503960366,2016-04-17,1,700,712,9705,6.48,6.48,0.0,3.19,0.78,2.51,0.0,38,20,164,539,1728,15.258333
5,1503960366,2016-04-19,1,304,320,15506,9.88,9.88,0.0,3.53,1.32,5.03,0.0,50,31,264,775,2035,17.974306
6,1503960366,2016-04-20,1,360,377,10544,6.68,6.68,0.0,1.96,0.48,4.24,0.0,28,12,205,818,1786,15.775000
7,1503960366,2016-04-21,1,325,364,9819,6.34,6.34,0.0,1.34,0.35,4.65,0.0,19,8,211,838,1775,15.678472
8,1503960366,2016-04-23,1,361,384,14371,9.04,9.04,0.0,2.81,0.87,5.36,0.0,41,21,262,732,1949,17.212500
9,1503960366,2016-04-24,1,430,449,10039,6.41,6.41,0.0,2.92,0.21,3.28,0.0,39,5,238,709,1788,15.795833

In [29]:
final_Daily_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 0 to 412
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        413 non-null    int64
 1   Date                      413 non-null    datetime64[ns]
 2   TotalSleepRecords         413 non-null    int64
 3   TotalMinutesAsleep        413 non-null    int64
 4   TotalTimeInBed            413 non-null    int64
 5   TotalSteps                413 non-null    int64
 6   TotalDistance             413 non-null    float64
 7   TrackerDistance           413 non-null    float64
 8   LoggedActivitiesDistance  413 non-null    float64
 9   VeryActiveDistance        413 non-null    float64
 10  ModeratelyActiveDistance  413 non-null    float64
 11  LightActiveDistance       413 non-null    float64
 12  SedentaryActiveDistance   413 non-null    float64
 13  VeryActiveMinutes         413 non-null    int64
 14  FairlyActiveMinutes       413 non-null    int64
 15  LightlyActiveMinutes      413 non-null    int64
 16  SedentaryMinutes          413 non-null    int64
 17  Calories                  413 non-null    int64
 18  Daily Average METs        413 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(10)
memory usage: 64.5 KB

Exercise capacity is based on metabolic equivalents (MET) achieved, (one MET is defined as 3.5 mL O2 uptake/kg per min, which is the resting oxygen uptake in a sitting position). Less than 5 METS is poor, 58 METS is fair, 911 METS is good, and 12 METS or more is excellent.

In [32]:
Monthly_Avg_METs=Daily_Avg_METs.groupby(['Id'])['Daily Average METs'].mean().reset_index(name='Monthly Average METs')

In [40]:
def get_METs_score(i):
  if i<5:
    return('poor')
  if 5<=i<=8:
    return('fair')
  if 9<=i<12:
    return('good')
  if i>=12:
    return('excellent')

In [41]:
Monthly_Avg_METs['Score']= Monthly_Avg_METs.apply(lambda x:get_METs_score(x['Monthly Average METs']),axis=1)

In [42]:
Monthly_Avg_METs

            Id  Monthly Average METs      Score
0   1503960366             16.672024  excellent
1   1624580081             12.516487  excellent
2   1644430081             14.066759  excellent
3   1844505072             11.845161       good
4   1927972279             10.641308       good
5   2022484408             16.960484  excellent
6   2026352035             13.974294  excellent
7   2320127002             13.159247  excellent
8   2347167796             15.489660  excellent
9   2873212765             15.298331  excellent
10  3372868164             14.546667  excellent
11  3977333714             15.451461  excellent
12  4020332650             12.169288  excellent
13  4057192912             12.111111  excellent
14  4319703577             13.978181  excellent
15  4388161847             16.337697  excellent
16  4445114986             13.350724  excellent
17  4558609924             15.354928  excellent
18  4702921684             14.928401  excellent
19  5553957443             14.480237  excellent
20  5577150313             18.732060  excellent
21  6117666160             14.726017  excellent
22  6290855005             13.204677  excellent
23  6775888955             11.871966       good
24  6962181067             15.569489  excellent
25  7007744171             16.697596  excellent
26  7086361926             15.869901  excellent
27  8053475328             16.978849  excellent
28  8253242879             13.226339  excellent
29  8378563200             16.041963  excellent
30  8583815059             13.154975  excellent
31  8792009665             12.026265  excellent
32  8877689391             19.622411  excellent