<a href="https://colab.research.google.com/github/Aishani1234/Bellabeat_Case-Study/blob/main/DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Importing package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
#Importing dataset
df=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/heartrate_seconds_merged.csv')

In [ ]:
# to find the total number of rows and columns in the dataset
df.shape

(2483658, 3)

In [ ]:
# to find data types of columns from the given data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

In [ ]:
# to find the unique IDs
df['Id'].nunique()

14

In [ ]:
#to find list of distinct Ids
list(df['Id'].unique())

[2022484408,
 2026352035,
 2347167796,
 4020332650,
 4388161847,
 4558609924,
 5553957443,
 5577150313,
 6117666160,
 6775888955,
 6962181067,
 7007744171,
 8792009665,
 8877689391]

Heartrate data have less Ids, so can't include for analysis.

In [3]:
#Importing dataset
df=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/weightLogInfo_merged.csv')

In [4]:
# to find data types of columns from the given data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB

In [5]:
# to find the unique IDs
df['Id'].nunique()

8

Similar to the Heart rate data set, weightLogInfo is recorded only for 8 Ids. This small sample can not contribute to analysis.

In [15]:
#Importing dataset
df=pd.read_csv('/content/drive/MyDrive/Bellabeat Capstone Project/minuteMETsNarrow_merged.csv')

In [16]:
# to find data types of columns from the given data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   METs            1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

In [17]:
# to find the unique IDs
df['Id'].nunique()

33

In [18]:
df.head(15)

            Id         ActivityMinute  METs
0   1503960366  4/12/2016 12:00:00 AM    10
1   1503960366  4/12/2016 12:01:00 AM    10
2   1503960366  4/12/2016 12:02:00 AM    10
3   1503960366  4/12/2016 12:03:00 AM    10
4   1503960366  4/12/2016 12:04:00 AM    10
5   1503960366  4/12/2016 12:05:00 AM    12
6   1503960366  4/12/2016 12:06:00 AM    12
7   1503960366  4/12/2016 12:07:00 AM    12
8   1503960366  4/12/2016 12:08:00 AM    12
9   1503960366  4/12/2016 12:09:00 AM    12
10  1503960366  4/12/2016 12:10:00 AM    12
11  1503960366  4/12/2016 12:11:00 AM    12
12  1503960366  4/12/2016 12:12:00 AM    10
13  1503960366  4/12/2016 12:13:00 AM    10
14  1503960366  4/12/2016 12:14:00 AM    12

In [20]:
df['Date']=pd.to_datetime(df['ActivityMinute']).dt.date

In [21]:
df.head(10)

           Id         ActivityMinute  METs        Date
0  1503960366  4/12/2016 12:00:00 AM    10  2016-04-12
1  1503960366  4/12/2016 12:01:00 AM    10  2016-04-12
2  1503960366  4/12/2016 12:02:00 AM    10  2016-04-12
3  1503960366  4/12/2016 12:03:00 AM    10  2016-04-12
4  1503960366  4/12/2016 12:04:00 AM    10  2016-04-12
5  1503960366  4/12/2016 12:05:00 AM    12  2016-04-12
6  1503960366  4/12/2016 12:06:00 AM    12  2016-04-12
7  1503960366  4/12/2016 12:07:00 AM    12  2016-04-12
8  1503960366  4/12/2016 12:08:00 AM    12  2016-04-12
9  1503960366  4/12/2016 12:09:00 AM    12  2016-04-12

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   METs            1325580 non-null  int64
 3   Date            1325580 non-null  object
dtypes: int64(2), object(2)
memory usage: 40.5+ MB

In [30]:
df.groupby(['Id', 'Date'])['METs'].mean().reset_index(name='Daily Average METs')

             Id        Date  Daily Average METs
0    1503960366  2016-04-12           17.528472
1    1503960366  2016-04-13           15.874306
2    1503960366  2016-04-14           15.686806
3    1503960366  2016-04-15           15.409722
4    1503960366  2016-04-16           16.454167
..          ...         ...                 ...
929  8877689391  2016-05-08           16.159722
930  8877689391  2016-05-09           21.006944
931  8877689391  2016-05-10           16.066667
932  8877689391  2016-05-11           21.754167
933  8877689391  2016-05-12           16.277381

[934 rows x 3 columns]

In [26]:
Daily_Avg_METs=df.groupby(['Id', 'Date'])['METs'].mean().reset_index(name='Daily Average METs')